<a href="https://colab.research.google.com/github/mdnafijulislambd/Python-Learning-/blob/main/Python_Day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

Ordered: Lists maintain the order of elements. This means that when you add elements to
a list, they retain their position, and you can access elements using their index. The order
of elements is preserved during iteration.

Mutable: Lists are mutable, meaning you can modify them after creation. You can add,
remove, or change elements within a list without creating a new list.

Allow duplicates: Lists can contain duplicate elements. This allows you to have multiple
occurrences of the same value within a list.

Heterogeneous: Lists can hold elements of different data types. For example, a list can
contain integers, strings, floats, and even other lists.

Dynamic size: Lists in Python are dynamic, meaning their size can change as you add or
remove elements.

In [3]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

# List Methods

# append()
Adds an element to the end of the list.

In [4]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

# insert()
Inserts an element at a specified position.

In [5]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "kiwi")
print(fruits)

['apple', 'kiwi', 'banana', 'cherry']

# extend()
Extends the list by adding elements from another list.

In [6]:
fruits = ["apple", "banana", "cherry"]
more_fruits = ["grape", "melon"]
fruits.extend(more_fruits)
print(fruits)

['apple', 'banana', 'cherry', 'grape', 'melon']

# remove()
Removes the first occurrence of the specified element.

In [7]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

# pop()
Removes the element at the specified position (default is the last element) and returns it.

In [8]:
fruits = ["apple", "banana", "cherry"]
last_fruit = fruits.pop()
print(last_fruit)
print(fruits)

cherry
['apple', 'banana']

# clear()
Removes all elements from the list.

In [9]:
fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)

[]

# index()
Returns the index of the first occurrence of the specified element.

In [10]:
fruits = ["apple", "banana", "cherry"]
index = fruits.index("banana")
print(index)

1

# count()
Returns the number of occurrences of the specified element.

In [11]:
fruits = ["apple", "banana", "cherry"]
count = fruits.count("apple")
print(count)

1

# sort()
Sorts the list in ascending order by default.

In [12]:
numbers = [3, 1, 4, 1, 5, 9, 2]
numbers.sort()
print(numbers)

[1, 1, 2, 3, 4, 5, 9]

# reverse()
Reverses the order of the list.

In [13]:
numbers = [3, 1, 4, 1, 5, 9, 2]
numbers.reverse()
print(numbers)

[2, 9, 5, 1, 4, 1, 3]

# len()
Returns the number of elements in the list.

In [14]:
fruits = ["apple", "banana", "cherry"]
length = len(fruits)
print(length)

3

# List Slicing
You can access a range of elements using slicing.

In [15]:
fruits = ["apple", "banana", "cherry", "date", "fig", "grape"]
print(fruits[1:4])
print(fruits[:3])
print(fruits[3:])
print(fruits[-3:])

['banana', 'cherry', 'date']
['apple', 'banana', 'cherry']
['date', 'fig', 'grape']
['date', 'fig', 'grape']

# Looping Through a List

In [18]:
fruits = ["apple", "banana", "cherry", "date", "fig", "grape"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry
date
fig
grape

# List Use Case

1. Storing User Data: Keep a list of user names, email addresses, or IDs for easy access
and manipulation.

2. Managing To-Do Lists: Track tasks and their statuses in a to-do list application.

3. Inventory Management: Maintain a list of product items, quantities, and details in a store
inventory system.

4. Processing Orders: Store and process customer orders in an e-commerce application.

5. Collecting Survey Responses: Gather and analyze survey responses from multiple
participants.

6. Scheduling Events: Organize and manage a list of events or appointments in a calendar
application.

7. Data Analysis: Store and manipulate datasets for statistical analysis or machine learning.

8. Playlist Management: Keep track of songs, videos, or other media items in a playlist.

9. Shopping Cart: Store items added to a shopping cart in an online shopping system.

9. Tracking Scores: Maintain a list of scores or results for games or competitions.

# Tuples

Ordered: Like lists, tuples maintain the order of elements. The order in which elements are
added is preserved, and they can be accessed using an index.

Immutable: Once a tuple is created, it cannot be modified. You cannot add, remove, or
change elements in a tuple after its creation. This immutability makes tuples suitable for
use as keys in dictionaries and ensures that the data remains consistent.

Allow duplicates: Tuples can contain duplicate elements. This allows multiple
occurrences of the same value within a tuple.

Heterogeneous: Tuples can hold elements of different data types. For example, a tuple
can contain integers, strings, floats, and even other tuples.

Fixed size: The size of a tuple is fixed upon creation. Unlike lists, you cannot change the
size of a tuple after it is created.

In [19]:
fruits = ("apple", "banana", "cherry")
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])

('apple', 'banana', 'cherry')
apple
banana
cherry

# Tuple Methods

# count()
Returns the number of times a specified value appears in the tuple.

In [20]:
numbers = (1, 2, 3, 2, 4, 2)
count_of_twos = numbers.count(2)
print(count_of_twos)

3

# index()
Returns the index of the first occurrence of the specified value.

In [21]:
numbers = (1, 2, 3, 2, 4, 2)
index_of_three = numbers.index(3)
print(index_of_three)

2

#  Looping Through a Tuple
You can loop through the elements of a tuple using a
for loop.

In [23]:
fruits = ("apple", "banana", "cherry")
for fruit in fruits:
    print(fruit)

apple
banana
cherry

# Tuple Slicing
You can access a range of elements in a tuple using slicing.

In [24]:
fruits = ("apple", "banana", "cherry")
print(fruits[1:3])
print(fruits[:2])
print(fruits[1:])
print(fruits[-2:])

('banana', 'cherry')
('apple', 'banana')
('banana', 'cherry')
('banana', 'cherry')

#  Converting Between Lists and Tuples
You can convert lists to tuples and vice versa using the
tuple() and list() functions.

In [26]:
# List to tuple
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)

# Tuple to list
my_tuple = (4, 5, 6)
my_list = list(my_tuple)
print(my_list)

(1, 2, 3)
[4, 5, 6]

# Tuples Use case

1. Immutable Data Storage: Store read-only configuration settings that should not be
altered during program execution.

2. Return Multiple Values: Return multiple values from a function efficiently.

3. Fixed Collections: Store a fixed collection of related data, such as coordinates (x, y, z) or
RGB color values.

4. Dictionary Keys: Use tuples as keys in dictionaries for composite key lookups.

5. Database Records: Represent rows of database records as tuples for easy and
consistent access.

6. Data Integrity: Ensure data integrity by using tuples for sequences of data that should
remain constant.

7. Grouping Data: Group heterogeneous data types together logically, such as an employee
record with a name, ID, and position.

8. Efficient Iteration: Iterate over a fixed set of elements without the overhead of mutable
data structures.

9. Named Tuples: Use named tuples to create self-documenting code and improve code
readability.

10. Function Arguments: Pass a fixed set of parameters to functions, ensuring the
parameters remain unchanged.

# Sets in Python

Unordered: The elements in a set do not have a defined order. Unlike lists or tuples, when
you iterate over a set, the items may appear in a different order each time, and they
cannot be accessed using an index.

Mutable: Sets are mutable, meaning you can add or remove elements after the set is
created. However, the elements within the set must be immutable types, such as strings,
numbers, or tuples.

No duplicates: Sets do not allow duplicate elements. If you try to add a duplicate element
to a set, it will be ignored, ensuring that all elements in the set are unique.

Heterogeneous: Like lists and tuples, sets can hold elements of different data types. A set
can contain integers, strings, floats, and even other immutable types.

Dynamic size: The size of a set can change as you add or remove elements. There is no
fixed limit on the number of elements a set can hold.

Efficient membership testing: Sets are optimized for checking whether a specific
element is part of the set, making them ideal for operations that require fast membership
testing.

In [27]:
fruits = {"apple", "banana", "cherry"}
print(fruits)

{'apple', 'cherry', 'banana'}

# Set Methods

# add()
Adds an element to the set.

In [28]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'orange', 'apple', 'cherry', 'banana'}

# update()
Adds multiple elements to the set.

In [29]:
fruits = {"apple", "banana", "cherry"}
fruits.update(["grape", "melon"])
print(fruits)

{'melon', 'grape', 'apple', 'cherry', 'banana'}

# remove()
Removes the specified element from the set. Raises a

In [30]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

# discard()
Removes the specified element from the set if it is present.

In [31]:
fruits = {'apple', 'cherry', 'grape', 'melon', 'orange'}
fruits.discard("melon")
print(fruits)

{'grape', 'apple', 'orange', 'cherry'}

# pop()
Removes and returns an arbitrary element from the set. Raises a
KeyError if the set is empty.

In [32]:
fruits = {'apple', 'cherry', 'grape', 'melon', 'orange'}
element = fruits.pop()
print(element)
print(fruits)

grape
{'apple', 'orange', 'melon', 'cherry'}

# clear()
Removes all elements from the set.

In [33]:
fruits = {'apple', 'cherry', 'grape', 'melon', 'orange'}
fruits.clear()
print(fruits)

set()

# union()
Returns a new set with all elements from both sets.

In [34]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
result = set1.union(set2)
print(result)

{1, 2, 3, 4, 5}

# intersection()
Returns a new set with only the elements that are common to both sets.

In [35]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
result = set1.intersection(set2)
print(result)

{3}

# difference()
Returns a new set with elements in the first set that are not in the second set.

In [37]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
result = set1.difference(set2)
print(result)

{1, 2}

# symmetric_difference()
Returns a new set with elements in either set but not in both.

In [38]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
result = set1.symmetric_difference(set2)
print(result)

{1, 2, 4, 5}

# issubset()
Checks if all elements of the set are present in another set.

In [39]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.issubset(set2))

False

# issuperset()
Checks if the set contains all elements of another set.

In [40]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.issuperset({1, 2}))

True

# isdisjoint()
Checks if two sets have no elements in common.

In [41]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.isdisjoint(set2))

False

# Sets Use case

1. Removing Duplicates: Automatically eliminate duplicate entries from a collection of data.

2. Membership Testing: Quickly check if an item is part of a collection.

3. Mathematical Set Operations: Perform union, intersection, difference, and symmetric
difference operations on collections.

3. Unique Elements: Maintain a collection of unique items, such as unique user IDs or
product codes.

4. Filtering Data: Filter out non-unique items from a list or other iterable.

5. Tagging System: Implement a system to tag items where each tag is unique.

6. Graph Algorithms: Use sets to manage adjacency lists for nodes in graph algorithms.

7. Tracking Seen Items: Keep track of items that have already been processed or visited in
loops or algorithms.

8. Sparse Data Structures: Represent sparse datasets efficiently where only a few elements
out of a large range are present.

9. Event Handling: Manage a set of unique event handlers or callbacks in event-driven
programming.

# Dictionary

Unordered: Dictionaries in Python store key-value pairs without a specific order. While the
insertion order is preserved in Python 3.7 and later, dictionaries do not support indexing
like lists or tuples.

Mutable: Dictionaries are mutable, meaning you can change them after they are created.
You can add, remove, or modify key-value pairs in a dictionary at any time.

Key uniqueness: Each key in a dictionary must be unique. If you try to insert a duplicate
key, the existing value associated with that key will be overwritten with the new value.

Heterogeneous: Both keys and values in a dictionary can be of any data type. Keys are
typically immutable types (like strings, numbers, or tuples), while values can be of any
type, including other dictionaries.

Dynamic size: Dictionaries in Python can grow or shrink as you add or remove key-value
pairs. There is no fixed limit on the number of elements a dictionary can hold.

Efficient key-based access: Dictionaries provide fast access to values based on their
keys, making them ideal for use cases where you need to quickly retrieve, add, or modify
data associated with specific keys.

In [42]:
student = {
"name": "Alice",
"age": 23,
"major": "Computer Science"
}
print(student)
print(student["name"])
print(student.get("age"))

{'name': 'Alice', 'age': 23, 'major': 'Computer Science'}
Alice
23

# Dictionary Methods

# keys()
Returns a view object containing the dictionary's keys.

In [43]:
student = {
"name": "Alice",
"age": 23,
"major": "Computer Science"
}
print(student.keys())

dict_keys(['name', 'age', 'major'])

# values()
Returns a view object containing the dictionary's values.

In [44]:
student = {
"name": "Alice",
"age": 23,
"major": "Computer Science"
}
print(student.values())

dict_values(['Alice', 23, 'Computer Science'])

# items()
Returns a view object containing the dictionary's key-value pairs.

In [45]:
student = {
"name": "Alice",
"age": 23,
"major": "Computer Science"
}
print(student.items())

dict_items([('name', 'Alice'), ('age', 23), ('major', 'Computer Science')])

# update()
Updates the dictionary with the specified key-value pairs.

In [46]:
student = {
"name": "Alice",
"age": 23,
"major": "Computer Science"
}
student.update({"age": 24, "graduated": True})
print(student)

{'name': 'Alice', 'age': 24, 'major': 'Computer Science', 'graduated': True}

# pop()
Removes the specified key and returns its value. Raises a

In [47]:
student = {
"name": "Alice",
"age": 23,
"major": "Computer Science"
}
age = student.pop("age")
print(age)  # Output: 24
print(student)

23
{'name': 'Alice', 'major': 'Computer Science'}

# popitem()
Removes and returns the last inserted key-value pair as a tuple.

In [48]:
student = {'name': 'Alice', 'age': 24, 'major': 'Computer Science', 'graduated':
True}
item = student.popitem()
print(item)  # Output: ('graduated', True)
print(student)

('graduated', True)
{'name': 'Alice', 'age': 24, 'major': 'Computer Science'}

# clear()
Removes all elements from the dictionary.

In [49]:
student = {
"name": "Alice",
"age": 23,
"major": "Computer Science"
}
student.clear()
print(student)

{}

# g
et()
Returns the value for the specified key if it exists, otherwise returns the default value.

In [50]:
student = {
"name": "Alice",
"age": 23,
"major": "Computer Science"
}
age = student.get("age", "Not Available")
print(age)

23

# copy()
Returns a shallow copy of the dictionary.

In [51]:
student = {
"name": "Alice",
"age": 23,
"major": "Computer Science"
}
student_copy = student.copy()
print(student_copy)

{'name': 'Alice', 'age': 23, 'major': 'Computer Science'}

# Dictionary Use case

1. Storing Configuration Settings: Keep configuration settings for applications where each
setting has a unique key.

2. Fast Lookups: Quickly retrieve values based on unique keys, such as looking up a user's
profile by user ID.

3. Counting Occurrences: Count the frequency of items in a dataset, such as word counts
in a document.

4. Caching Results: Store and retrieve the results of expensive computations to avoid
redundant calculations.

5. Mapping Relationships: Represent relationships between items, such as mapping
employee IDs to employee names.

6. Storing JSON Data: Work with JSON data structures, which are naturally represented as
dictionaries in Python.

7. Organizing Data: Organize and group related pieces of information together, such as
storing contact information.

8. Database Records: Represent records from a database where each record is a dictionary
with column names as keys.

9. User Preferences: Store user preferences and settings for applications.

10. Nested Data Structures: Create complex data structures by nesting dictionaries within
dictionaries to represent hierarchical data